body {
	background-color: whitesmoke;
}

h1 {
	color: black;
	text-align: center;
}

li{
	list-style-image: url("../img/nota.png");
}

img {
	display: block;
	margin: 0 auto;
}
table.menu{
	width: 100%;
	height: 70px;
	border: 2px black;
	padding: 5px;
}
th.menu{
	border: 1px gray; 
	width: 25%;
	background-color: darkslategray;
	font-size: 150%;

}
th a{
	text-decoration: none;
	color: whitesmoke;
}